<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="EFModels" connectionString="data source=LAPTOP-V2T6O7O6\TRANG;initial catalog=WinformQuanLyPhongKhamNhaKhoaVersion2;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>